!!!
%html
  %body
    .top-bar
    .wrapper
      .notes
        .notes__header
          = link_to note_folders_path do
            %img{class: "notes__header__go-folders-icon", :alt => "evernote-lite", :border => "0", :src => "https://cdn-ak.f.st-hatena.com/images/fotolife/k/kochan214/20170215/20170215161054.png"}/
          = link_to edit_user_registration_path do
            .notes__header__name #{current_user.name}
        .notes__search-bar
        .notes__body
          = render partial: "shared/notes", locals: {note_folder: @note_folder, note: @note }
      = render partial: "shared/content"
