-if @note.nil?
  .content
    .content__header
      .content__header__new-note-icon
        = link_to new_note_path do
          %img{class: "notes__header__new-note-icon", :alt => "evernote-lite", :border => "0", :src => "https://cdn-ak.f.st-hatena.com/images/fotolife/k/kochan214/20170215/20170215160111.png"}/
          新規ノートを作成してください！
-else
  .content
    .content__header
      .content__header__new-note-icon
        = link_to new_note_path do
          %img{class: "notes__header__new-note-icon", :alt => "evernote-lite", :border => "0", :src => "https://cdn-ak.f.st-hatena.com/images/fotolife/k/kochan214/20170215/20170215160111.png"}/
      .content__header__functions
        B U A a A
      -if @note.title.length === 0
        .content__header__no-note-title
          タイトルがありません
      -else
        .content__header__note-title
          = @note.title
      .content__header__note-move-icons
        %img{class: "note-move-icon", :alt => "evernote-lite", :border => "0", :src => "https://s3-ap-northeast-1.amazonaws.com/chatspace-development/uploads/message/image/599/220983.png"}/
        = link_to note_path(@note), method: :delete do
          %img{class: "note-delete-icon", :alt => "evernote-lite", :border => "0", :src => "https://cdn-ak.f.st-hatena.com/images/fotolife/k/kochan214/20170215/20170215160512.png"}/
    .content__body
      -if @note.body.length === 0
        .content__body__no-text
          本文がありません
      -else
        .content__body__text
          = @note.body
