.registration__wrapper
  .top-bar

  .registration__top
    %img{class: "evernote-lite__logo", :alt => "evernote-lite", :border => "0", :height => "80", :width => "80", :src => "https://cdn-ak.f.st-hatena.com/images/fotolife/k/kochan214/20170215/20170215133947.png"}/
    %h1 アカウント編集
  .registration__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.text_field :name, autofocus: true, placeholder: '名前', class: 'registration__form__field'
      .field
        = f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'registration__form__field'
      .field
        = f.password_field :password, autocomplete: "off", placeholder: '新しいパスワード', class: 'registration__form__field'
      .field
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: '確認用パスワード', class: 'registration__form__field'
      .field
        .field-input
          = f.password_field :current_password, autocomplete: "off", placeholder: '今のパスワードを入力してください'
      .button
        = f.submit "アカウントの変更を保存", class: 'registration__form__button'
