.sign-up__wrapper
  .top-bar

  .sign-up__top
    %img{class: "evernote-lite__logo", :alt => "evernote-lite", :border => "0", :height => "68", :src => "https://s3-ap-northeast-1.amazonaws.com/chatspace-production/uploads/message/image/21/001.gif", :width => "68"}/
    %h1 アカウント編集
  .sign-up__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.text_field :name, autofocus: true, placeholder: '名前', class: 'sign-up__form__field'
      .field
        = f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'sign-up__form__field'
      .field
        = f.password_field :password, autocomplete: "off", placeholder: '新しいパスワード', class: 'sign-up__form__field'
      .field
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: '確認用パスワード', class: 'sign-up__form__field'
      .field
        .field-input
          = f.password_field :current_password, autocomplete: "off", placeholder: '今のパスワードを入力してください'
      .button
        = f.submit "アカウントの変更を保存", class: 'sign-up__form__button'
